# Core FastAPI & Server
fastapi==0.111.0
uvicorn[standard]==0.30.1

# Database & ORM
sqlalchemy[asyncio]==2.0.31
psycopg[binary]==3.1.9
alembic==1.13.2

# Data Validation & Settings
pydantic[email]==2.8.2
pydantic-settings==2.3.4

# Security & Auth
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-dotenv==1.0.1
bcrypt==4.0.1

# MQTT Communication
aiomqtt==0.15.1
